<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Student Table</h1>
            <table class="table table-bordered">
                <tr>
                    <th>Sr. No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
                <tr *ngFor="let std of students; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.age}}</td>
                    <td>{{std.email}}</td>
                </tr>
                
            </table>
            
        </div>
    </div>
</div>